<div class='well' >
  <%= form_for @user do |f| %>
    <%= render 'shared/errors', errors: @user.errors %>
    <div class='control-group' >
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group' >
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group' >
      <%= f.label :phone, "Phone Number <small>(numbers only)</small>".html_safe %>
      <%= f.text_field :phone, maxlength: 9 %>
      <%= link_to '#', id: 'two_factor_phone' do %>
        <i class='icon-question-sign'></i>
      <% end %>
      <div class="popover fade right in" style="top: 205.5px; left: 493px; display: block;">
        <div class="arrow"></div>
        <h3 class="popover-title">Why do you need my phone number?</h3>
        <div class="popover-content">We use your phone number for 2 factor authenticaiton. 2-factor authentication provides an extra layer of security when logging in to secure systems. If you provide a phone number here, you will receive a text message with a pin number to access your account. To skip 2 factor authenticaiton and login with just a username and password, leave this field blank. US numbers only.</div>
      </div>
    </div>
    <div class='control-group' >
      <%= f.label :timezone %>
      <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
    </div>
    <%= f.submit(@user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-success') %>
  <% end %>
</div>
