<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<p class='lead'>
  <%= link_to @post.title, fix_url(@post.url) %>
  <hr/>
</p>

<p>
  <%= @post.description %>
  <hr/>
</p>

<%= form_for [@post, @comment] do |f| %>
  <div class='control-group' >
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body, rows: 3 %>
  </div>
  <%= f.submit('Create Commment', class: 'btn btn-primary') %>
<% end %>

<h4> Comments: </h4>
<%= render @post.comments %>
